Source: libsim
Section: contrib/science
Priority: extra
Maintainer: Daniele Branchini <dbranchini@arpa.emr.it>
Build-Depends:
  debhelper (>= 12), dh-fortran-mod (>= 0.11), pkg-config,
  autotools-dev, fortran-compiler, libfortrangis-dev,
  libeccodes-dev, libdballef-dev, liblog4c-dev, libshp-dev,
  libnetcdff-dev, texlive, texlive-binaries
Standards-Version: 3.7.2
Rules-Requires-Root: no
Homepage: https://github.com/ARPA-SIMC/libsim
Vcs-Git: https://github.com/ARPA-SIMC/libsim.git

Package: libsim
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A group of three utility modules written in Fortran90.
 Libsim encloses a group of three utility modules written in Fortran90:
 .
 libsim_base defines general purpouse classes and modules useful in scientific
 programming, such as execution errors handling, georeferenced data handling,
 time operations and so on.
 .
 libsim_grib defines some classes to handle I/O operations on GRIB files. These
 classes are built upon the ECMWF library.
 .
 libsim_vol7d defines some classes to handle meteorological observational data
 both from the computational point of view and from their persistance in a
 database like DbAll-e or Oracle(TM).
