#!/usr/bin/make -f

RELEASE_PACKAGE=libsim

%:
	dh $@ --with=fortran_mod --no-parallel

override_dh_auto_configure:
	dh_auto_configure -- --disable-ngmath --disable-ncarg --enable-alchimia --enable-f2003-features --enable-f2003-extended-features
